{% extends "../../../template/page.njk" %}
{% block head %}
    <link href="style/text-effect/index.css" rel="stylesheet">

{% endblock %}

{% block heading %}
  {{ backLink({
    href: "/",
    text: "Go back"
  }) }}
{% endblock %}

{% block content %}
    <h1>text effect</h1>
    <div class="text-effect">
        <p>shadow</p>
        <p>text</p>
        <p>effect</p>
    </div>


{% endblock %}
