{% extends "../../../template/page.njk" %}
{% block head %}
    <link href="style/text-effect/index.css" rel="stylesheet">

{% endblock %}

{% block heading %}
  {{ backLink({
    href: CONTEXT_PATH,
    text: t("common.back")
  }) }}
{% endblock %}

{% block content %}
    <h1>text effect</h1>
    <div class="text-effect">
        <p>shadow</p>
        <p>text</p>
        <p>effect</p>
    </div>


{% endblock %}
