// goBack link and language toggler
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;

    &:only-child,
    > :only-child {
        margin-left: auto;
    }
}