{% extends "../../template/page.njk" %}
{% block goBack %}
  {{ backLink({
    href: getRequestUri(),
    text: t("common.back")
  }) }}
{% endblock %}
{% block content %}
  <h1>{{ title }}
  </h1>
  <form action="{{ getRequestUri('name') }}" method="post">
    {% if error %}
      {{ errorSummary({
        titleText: t("error.summaryTitle"),
        errorList: error.errorList
      }) }}
    {% endif %}
    {{ input({
      label: {
        text: t("name.firstNameLabel"),
        classes: "nhsuk-label--m"
      },
      id: "firstName",
      name: "firstName",
      classes: "nhsuk-input--error" if error.fields.firstName else "",
      errorMessage: { text: t(error.fields.firstName) } if error.fields.firstName else null,
      value: body.firstName | d("")
    }) }}
    {{ input({
      label: {
        text: t("name.lastNameLabel"),
        classes: "nhsuk-label--m"
      },
      id: "lastName",
      name: "lastName",
      classes: "nhsuk-input--error" if error.fields.lastName else "",
      errorMessage: { text: t(error.fields.lastName) } if error.fields.lastName else null,
      value: body.lastName | d("")
    }) }}
    {{ button({
      text: t("common.continue")
    }) }}
  </form>
{% endblock %}