
{% extends "../../template/page.njk" %}

{% block heading %}
  {{ backLink({
    href: "/",
    text: "Go back"
  }) }}
{% endblock %}

{% block content %}
  
This is waterfall display


{% endblock %}
