{% extends "page.njk" %}
{% block fullWidthContent %}
  <h1>Home</h1>
  <ul class="nhsuk-grid-row nhsuk-card-group">
    {% for page in pageList %}
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item ">
        {{ card({
          "href":  getRequestUri(page.path),
          "heading": t(page.title),
          "headingClasses": "nhsuk-heading-xs"
        }) }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}