
{% extends "../../../template/page.njk" %}

{% block head %}
<script src="js/tree.js" defer></script>

{% endblock%}

{% block heading %}
  {{ backLink({
    href: CONTEXT_PATH,
    text: t("common.back")
  }) }}
{% endblock %}

{% block content %}
    <canvas></canvas>



{% endblock %}
